<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <div class = 'jumbotron card-image' id='home'>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('PlantType_chart')}}">Visualizations</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{{url_for('State')}}">Map</a>
          </li>

          <img src="image/better-tree.png" alt="decision-tree">
          <!-- <p></p> -->
          <img src="image/better-tree2.png" alt="decision-tree2">
          <!-- <p></p> -->
          <img src="image/machinelearning1.png" alt="Go Button">
          <p>Machine Learning Data.</p>
          <img src="image/best-button.png" alt="Go Button">
          <p>Preparing selections for go button.</p>
          <img src="image/button.png" alt="Go Button">
          <p>Finalizing the go button.</p>
          <img src="image/visual.png" alt="visualizations">
          <p>Plant Type and Season chart code.</p>
          <img src="image/map1.png" alt="map">
          <p>creation of map.</p>
          <img src="image/js2.png" alt="javascript">
          <p>Creating inputs for html selections.</p>
          <img src="image/predict.png" alt="predictions">
          <p>Giving the function to predict selections chosen.</p>




</body>

</html>